@model Wikirials.ViewModels.GroupView

@{
    ViewBag.Title = "Groups";
}

<h2>@Html.DisplayFor(model => model.Group.Name)</h2>
<p>
    @Html.ActionLink("Create Suggestion", "Create", "Suggestion")
</p>

@*<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Password)
        </dd>

    </dl>
</div>*@
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Group.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@



<div class="suggestion">
   <div class="well">
    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Suggestion.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suggestion.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suggestion.Date)
            </th>
            <th></th>
        </tr>*@

        @foreach (var item in Model.Suggestions)
        {
             if (item.Group.ID == Model.Group.ID)
             { 
                 
                 <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
    <p>   @Html.DisplayFor(modelItem => item.Body)</p>
    <div>
        <span class="badge badge-success">Posted: @Html.DisplayFor(modelItem => item.Date)</span>
    </div>     
    <hr>
             
             
             }
             }
            
            
            
            
            
            
            
            
            @*<tr>
                @if (item.Group.ID == Model.Group.ID) 
                {
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>*@
                @*<td>
                    @Html.ActionLink("Edit Suggestion", "Edit", "Suggestion") |
                    @Html.ActionLink("Suggestion Details", "Details", "Suggestion") |
                    @Html.ActionLink("Delete Suggestion", "Delete", "Suggestion")
                </td>*@
                @*}
            </tr>*@
      
    </div>

</div>

@*<hr />*@

@*<div class="suggestion">
    <p>
        @Html.ActionLink("Create New", "Create")
        @Html.ActionLink("Add Tutorial", "Select", "Tutorial")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tutorial.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutorial.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutorial.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutorial.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutorial.ContentType)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Tutorials)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentType)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>*@