@using Wikirials.Models
@using System.Data.Entity
@model Wikirials.Models.ApplicationUser

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<div class="container">
    <h1>@ViewBag.Title</h1>
    <div class="row profile">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
                    {
                        <div class="col-sm-6 col-md-4">
                            <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" class="img-rounded img-responsive" />
                        </div>
                    }
                    <div class="col-sm-6 col-md-8 profile">
                        <br>
                        <p><i class="glyphicon glyphicon-user"></i> @Html.DisplayFor(model => model.Name)</p>

                        <p><i class="glyphicon glyphicon-envelope"></i> @Html.DisplayFor(model => model.Email)</p>

                        <p><i class="glyphicon glyphicon-calendar"></i> @Html.DisplayFor(model => model.DateofBirth)</p>

                        <p><i class="glyphicon glyphicon-heart-empty"></i> @Html.DisplayFor(model => model.Gender)</p>
                        <div class="panel-footer profilefootercustom">
                            <span class="pull-right">
                                <a id="edituserdet" href="" class="btn btn-success login"><i class="glyphicon glyphicon-pencil"></i> Edit Profile</a>
                                @*<a id="changeavatar" href="" class="btn btn-primary login"><i class="glyphicon glyphicon-user"></i> Change Avatar</a>*@
                                @using (Html.BeginForm("ProfilePage", "Profile", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "formimage" }))
                                {
                                    <span class="fileUpload btn btn-primary login">
                                        <i class="glyphicon glyphicon-user"></i> Change Avatar
                                        <input id="Avatar" type="file" name="upload" onchange="this.form.submit()" class="upload" />
                                    </span>
                                }
                                <a id="changepassword" href="/Account/Manage" class="btn btn-danger login"><i class="glyphicon glyphicon-barcode"></i> Change Password</a>
                                @*<a href="edit.html" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>*@
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="container">
    <h1>@ViewBag.Title</h1>
    <div class="row profile">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="rowspecial">
                    @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
                    {
                        <div class="image">
                            <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" class="img-rounded img-responsive" />
                        </div>
                    }
                    <div class="profile1">
                        <br>
                        <p><i class="glyphicon glyphicon-user"></i> @Html.DisplayFor(model => model.Name)</p>

                        <p><i class="glyphicon glyphicon-envelope"></i> @Html.DisplayFor(model => model.Email)</p>

                        <p><i class="glyphicon glyphicon-calendar"></i> @Html.DisplayFor(model => model.DateofBirth)</p>

                        <p><i class="glyphicon glyphicon-heart-empty"></i> @Html.DisplayFor(model => model.Gender)</p>
                        <div class="panel-footer profilefootercustom">
                            <span class="profilespecial">
                                <a id="edituserdet" href="" class="btn btn-success login"><i class="glyphicon glyphicon-pencil"></i> Edit Profile</a>
                                @*<a id="changeavatar" href="" class="btn btn-primary login"><i class="glyphicon glyphicon-user"></i> Change Avatar</a>*@
                                @using (Html.BeginForm("ProfilePage", "Profile", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "formimage" }))
                                {
                                    <span class="fileUpload btn btn-primary login">
                                        <i class="glyphicon glyphicon-user"></i> Change Avatar
                                        <input id="Avatar" type="file" name="upload" onchange="this.form.submit()" class="upload" />
                                    </span>
                                }
                                <a id="changepassword" href="/Account/Manage" class="btn btn-danger login"><i class="glyphicon glyphicon-barcode"></i> Change Password</a>
                                @*<a href="edit.html" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>*@
                            </span>
                        </div>
                    </div>
                    <hr class="hrspecial" />
                </div>
            </div>
        </div>
    </div>
</div>



@*<div class="jumbotron">
    <h2>Profile</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
        {
            <dt>
                Avatar
            </dt>
            <dd>
                <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />
            </dd>
        }


        @using (Html.BeginForm("userdet", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <dd>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="file" id="Avatar" name="upload" />
                    </div>
                </div>
            </dd>

            <dd>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </dd>
        }

    </dl>
    @Html.ActionLink("Change Password", "Manage", "Account", routeValues: null, htmlAttributes: new { id = "Manage" })
    <div>
        @Html.ActionLink("Apagar Conta", "Delete", "Account", routeValues: null, htmlAttributes: new { id = "Delete" })
    </div>
</div>*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
}