@{
    ViewBag.Title = "About";
}

<div class="aboutt">
    <h1 class="about">About us</h1>
    <hr />
    <!--
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    -->

    <ul class="aboutul">
        <p>
            Wikirials, this easy to browse website, is our tutorial sharing tool. Here you will have access to the most unique and diverse tutorials created by you. You can also join groups which have exclusive tutorials, use the search feature to filter tutorials or select by category.
        </p>
        <p>Check our top tutorials page right now as a @Html.ActionLink("Guest", "Index", "Home"), or even @Html.ActionLink("Create a new account", "Register", "Account").</p>


        <p> For any questions check out our @Html.ActionLink("Contact", "Contact", "Home") page or send us an email through our footer.</p>
    </ul>
    <div class="movement">
        <img class="wikirials" src="~/Images/Wikirials Brand.fw.png">
        <img class="symbol1" src="~/Images/symbol.fw.png">
    </div>

    <div class="team">
        <h3>Team Members</h3>
        <br />
        <p>Konstantin Denissov</p>
        <p>Rafael Dinis Cardoso Marques</p>
        <p>Osvaldo Alexandre Sousa Amaral</p>
        <p>Francisco da Silva Pereira</p>
        <p>Ricardo Cupertino Cardoso Marques</p>
    </div>
</div>
