@{
    ViewBag.Title = "Create Role";
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Roles List", "Index") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="strongtext">
        Role name
    </div>
    <p class="moverole">
        @Html.TextBox("RoleName")
    </p>
    <input type="submit" value="Save" />
}