@model Wikirials.Models.Tutorial

@{
    ViewBag.Title = "Tutorial Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="welll">
        <fieldset>



            <h1>@Html.DisplayFor(model => model.Title)<span class="pull-right"><h4>@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</h4></span></h1>

            @if (Model.FileMains.Any(f => f.FileType == FileType.Pic))
            {
                <img class="displayed" src="~/FileMain?id=@Model.FileMains.First(f => f.FileType == FileType.Pic).FileMainId" alt="pic" />
            }

            <br>
            <div>

                <p>@Html.DisplayFor(model => model.Body)</p>
                <div>
                    <span><a class="btn icon-btn btn-primary" href="#"><span class="glyphicon btn-glyphicon glyphicon-thumbs-up img-circle text-primary"></span>Like</a></span>

                    <div class="pull-right">
                        <span><b>Author:</b> Ze</span> <span><b>Category:</b> Agricultura</span> <span><b>Likes:</b> 123</span> <span><b>View Count:</b> 123</span>
                    </div>
                </div>

            </div>

            <br>
            <div>
                <textarea style="width:100%;" name="new_message" placeholder="Type in your message" rows="5"></textarea>
            </div>


            <br><br>
            <div class="pull-right">
                <a href="" class="btn btn-success" role="button">Comment</a>
            </div>


            <div class="row">
                <div class="col-sm-1">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div><!-- /thumbnail -->
                </div><!-- /col-sm-1 -->

                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div><!-- /thumbnail -->
                </div><!-- /col-sm-1 -->

                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                </div>





            </div>
        </fieldset>
    </div>
</div>







@*<h2>Details</h2>

    <div>
        <h4>Tutorial</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Body)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Classification)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Classification)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContentType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContentType)
            </dd>

            @if (Model.Files.Any(f => f.FileType == FileType.Pic))
            {
                <dt>
                    Pic
                </dt>
                <dd>
                    <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Pic).FileId" alt="pic" />
                </dd>
            }

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
